<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="DetailLog" fileName="logs/jerrymouse.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </appenders>
  <loggers>
    <root level="ALL">
      <!--<appender-ref ref="MyFile"/>-->
      <appender-ref ref="Console" level="INFO"/>
      <appender-ref ref="DetailLog" level="ALL"/>
    </root>
  </loggers>
</configuration>