<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="MyFile" fileName="logs/gateway.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </appenders>
  <loggers>
    <root level="INFO">
      <!--<appender-ref ref="MyFile"/>-->
      <appender-ref ref="Console"/>
      <appender-ref ref="MyFile"/>
    </root>
  </loggers>
</configuration>